{% extends "base.html" %}

{% block title %}SuperVive - Login{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<head>
    <style>
        body{
            background: #2c2c2c;
        }
        h1{
            color: green;
        }
    </style>
</head>
<body>
<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
    <h1 class="mb-4 text-center">Select User Type</h1>
    <div class="d-flex gap-4">
        
        <a href="{{ url_for('admin_login') }}" class="btn btn-primary btn-lg">Staff</a>
        
        <a href="{{ url_for('signup_cus') }}" class="btn btn-secondary btn-lg">Customer</a>
    </div>
</div>
</body>
{% endblock %}
