



{% extends "base.html" %}
{% block title %}Library Loan System - Admin{% endblock %}
{% block content %}



<div class="admin-container">
    <h1 class="admin-title">Admin - Manage Comments</h1>
    <ul class="comment-list">
        {% for comment in comments %}
        <li class="comment-item {% if comment.is_admin %}admin-comment{% endif %}">
            <div class="comment-content">
                <strong class="comment-author">{{ comment.name }}</strong>
                <p class="comment-text">{{ comment.comment }}</p>
            </div>
            <div class="comment-actions">
                <form method="POST" action="{{ url_for('admin_delete_comment') }}">
                    <input type="hidden" name="comment_index" value="{{ loop.index0 }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-edit">Edit</button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('customerForum') }}" class="btn btn-back">Back to Customer Forum</a>
</div>
{% endblock %}