{% extends "base.html" %}
{% block title %}Library Loan System - Contact Us{% endblock %}

{% block content %}
<h1 class="display-4">Contact Us</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#Contact us">Contact us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#Partnerships and collaborations">Partnerships and collaborations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#Forum">Forum</a>
  </li>
  <li class="nav-item">
     <a class="nav-link"  href="/customerForum">Customer Forum</a>
  </li>
  <li class="nav-item">
     <a class="nav-link"  href="/adminForum">adminForum</a>
  </li>


</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="Contact us">
    <br>
    <h2><center>Require support? We got you covered</center></h2>
    <br>

  </div>
  <div class="tab-pane container-fluid" id="Partnerships and collaborations">
    <br>
    <h2><center>Require support? We got you covered</center></h2>
    <br>

</div>
    <div class="tab-pane container-fluid" id="Forum">
    <br>
    <h2><center>Require support? We got you covered</center></h2>
    <br>
     <a class="nav-link"  href="/customerForum">Customer Forum</a>


</div>

</table>
</div>
</div>
{% endblock %}
