<style>
    body{
    position:absolute;
    padding-top:100px;
    }
    h1{
    padding-bottom:700px;
    }


    h2{
    padding-middle: 800px;
    }
</style>


{% extends "base.html" %}
{% block title %}Library Loan System - Customer Forum{% endblock %}

{% block content %}



<body>
    <h1>Customer Comments</h1>


    <form method="POST" action="" class="comment-form">
        <input type="text" name="name" placeholder="Your Name" required class="form-input"><br><br>
        <textarea name="comment" placeholder="Your Comment" required class="form-textarea"></textarea><br><br>
        <input type="submit" value="Submit" class="btn-submit">
    </form>


        <h2>All Comments</h2>
    <ul class="comments-list">
        {% for comment in comments %}
            <li class="comment-item">
            <strong class="comment-author">{{ comment.name }}</strong>:
            <span class="comment-text">{{ comment.comment }}</span>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

</body>
