{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row w-100">
        <div class="col-md-6 mx-auto">
            <div class="card p-4 shadow-sm">
                <h1 class="text-center mb-4">Reset Password</h1>
                <form method="POST" action="{{ url_for('reset_password') }}">
                    <div>
                        <label for="new_password">New Password:</label>
                        {{ form.new_password(class="form-control", placeholder="Enter your new password") }}
                    </div>
                    <div>
                        <label for="confirm_password">Confirm Password:</label>
                        {{ form.confirm_password(class="form-control", placeholder="Confirm your new password") }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul>
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
