{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<style>
    
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row w-100">
        <div class="col-md-6 mx-auto">
            <div class="card p-4 shadow-sm">
                <h1 class="text-center mb-4">Reset Password</h1>
                <form method="POST" action="{{ url_for('reset_password') }}">
                    <div class="form-group position-relative">
                        <label for="new_password">New Password:</label>
                            {{ form.new_password(id="new_password", class="form-control", placeholder="Enter your new password") }}
                            <span class="position-absolute" onclick="togglePassword('new_password', 'togglePasswordIcon')">
                                <i class="fa fa-eye" id="togglePasswordIcon"></i>
                            </span>
                    </div>

                    <div class="form-group position-relative">
                        <label for="confirm_password">Confirm Password:</label>
                            {{ form.confirm_password(id="confirm_password", class="form-control", placeholder="Confirm your new password") }}
                            <span class="position-absolute" onclick="togglePassword('confirm_password', 'toggleConfirmPasswordIcon')">
                                <i class="fa fa-eye" id="toggleConfirmPasswordIcon"></i>
                            </span>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul>
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
<script>
    function togglePassword(fieldId, iconId) {
        var field = document.getElementById(fieldId);
        var icon = document.getElementById(iconId);

        if (field.type === "password") {
            field.type = "text";
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            field.type = "password";
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }
</script>

{% endblock %}
